@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: Canvas;
	color: CanvasText;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Ubuntu, 'Helvetica Neue', sans-serif;
	font-size: 16px;
}
